#voluntariado{
  padding: 80px 0;
  color:#3a8fff;
  height:100vh;
  background-color: #D8E9FF;
}

#voluntariado .title{
  font-weight: 1000;
  font-size: 80px;


  padding-top: 60px;
}
#voluntariado .education-layout{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 350px;
  
  margin-top: 60px;
}
#voluntariado .thumbnail{
  background-color:#c0dbff;

  border-radius: 10px;
  display: grid;
  grid-template-rows: 2fr 1fr;

  margin-right: 15px;
  
}
#voluntariado .thumbnail:hover{
  background-color:#579ffc;
  color:#0347a0;
  transform: translateY(-10px);
}